<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title>Admin - AIO DLD</title>
	<link rel="stylesheet" href="stylesheets/main.css"/>

    <script src="/scripts/admin.js" defer></script>
</head>

<body onload="adminSetUp()">
    
    <%- include ("../partials/aio_dld_header.ejs") %>
    <%- include ("../partials/aio_dld_row_templates.ejs") %>
    <%- include ("../partials/aio_dld_popups.ejs") %>

    <!--tabs-->
    <div>
        <button onclick="changeTab(0)">User Data</button>
        <button onclick="changeTab(1)">Trade Data</button>
    </div>

    <!--user data-->
    <div class="tab" id="adminUsersTab">
        <p>Click on "friends", "trades", "cards" to view full array in a popup. 
            Click outside the popup to close.</br>

            To finish/implement:</br>
            - online status </br>
            - formatting fixes
        </p>

        <!-- search-->
        <div>
            <input id="searchBox" placeholder="Search User" onkeyup="filterUsers()"/>
            
            <input type="checkbox" value="ADMIN" id="adminCheckbox1" checked="checked" onclick="filterUsers()">
            <label for="adminCheckbox1">ADMIN</label>
            <input type="checkbox" value="USER" id="adminCheckbox2" checked="checked" onclick="filterUsers()">
            <label for="adminCheckbox2">USER</label>
        </div>

        <!-- table with all user data-->
        <div id="userTableContainer">
            <table id="userTable">
                <tr>
                    <th>ONLINE</th>
                    <th>ID</th>
                    <th>USERNAME</th>
                    <th>PASSWORD</th>
                    <th>CARDS</th>
                    <th>FRIENDS</th>
                    <th>TRADES</th>
                    <th>TYPE</th>
                </tr>
                <td class="noMatchMessage" hidden="true" colspan="8">No users</td>
            </table>
        </div>
    </div>

    <!--trade data-->
    <div class="tab" id="adminTradesTab" hidden="true">
        <p>Click outside the popup to close.</p>

        <!-- table with all user data-->
        <div id="tradeTableContainer">
            <table id="tradeTable">
                <tr>
                    <th>ID</th>
                    <th>SENDER ID</th>
                    <th>RECEIVER ID</th>
                    <th>CARDS</th>
                    <th>STATUS</th>
                </tr>
                <td class="noMatchMessage" hidden="true" colspan="8">No trades</td>
            </table>
        </div>
    </div>

    <!-- store data from database in local variable-->
    <script>
        let userData = <%- JSON.stringify(userResults)%>;
        let tradeData = <%- JSON.stringify(tradeResults)%>;
    </script>
</body>