<!DOCTYPE html>
<html lang="en">
    <head>
        <title>cardInformation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/cardViewer.css">
        <script src="/scripts/trade.js" defer></script>
    </head>
    <body>
        <h1 style="text-align:center"><%=cardInfo.name%></h1>
        <img src= "../<%=cardInfo.image%>", alt="<%=cardInfo.name%>" style="display:block; margin:auto">
        <ul>
            <li>Pack name: <%=cardInfo.box_name%></li>
            <li>
                Stars:
                <% if(cardInfo.stars <= 0) { %>
                    N/A
                <% } else { %>
                    <% for(i=0;i<cardInfo.stars;i++) { %>
                        &#9733;
                    <% } %>
                <% } %>
            </li>
            <li>
                Value:
                <% if(cardInfo.value <= 0) { %>
                    Could not retrieve price
                <% } else { %> 
                    $<%=cardInfo.value%> (average price)
                <% } %>
            </li>
        </ul>
        <a id="cardViewerBackButton" onclick="checkIFrame(event)" style="cursor:pointer; color:rgb(53, 57, 255)">Back</a>
    </body>
</html>