<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset = "utf-8"/>
	<title>Deck Editor</title>
	<link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/deckBuilder.css"/>
    <script src="/scripts/deckBuilder.js"></script>
</head>

<body>

    <%- include ("../partials/aio_dld_header.ejs") %>

    <div class="horizontalAlignContainer">
        <div id="collection" class="deckBuilderTable">
            <h3>Collection</h3>
            <button onclick="changeSortType(1)">Alphabetical</button>
            <button onclick="changeSortType(2)">Stars</button>
            <button onclick="changeSortType(3)">Value (Low - High)</button>
            <button onclick="changeSortType(4)">Value (High - Low)</button>
            <table id="collectionCardsTable" class="cardTable" style="height: 90%;">
                <tbody></tbody>
            </table>
        </div>
    
        <div id="deck" class="deckBuilderTable">
            <input type="text" id="deckName" value="<%- deck.name %>">
            <label for="deckName">Name</label>
            <h3>Deck</h3>
            <table id="deckCardsTable" class="cardTable" style="height: 90%;">
                <tbody></tbody>
            </table>
            <h3>Extra Deck</h3>
            <table id="extraDeckCardsTable" class="cardTable" style="height: 90%;">
                <tbody></tbody>
            </table>
            <button id="saveDeck" type="button" onclick="saveDeck()">Save Deck</button>
        </div>
    </div>

    <script>
        let cardCollection = [<%- collection %>];
        let cardsList = <%- JSON.stringify(cards) %>;
        let savedDeck = [<%- deck.cards %>];
        let savedExtra = [<%- deck.extra_deck %>];
        
        deckBuilderPageSetUp();
    </script>

    
</body>